@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;1,200&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.subheading {
  font-family: 'Nunito', sans-serif;
}

ul li {
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 1%;
  gap: 2rem;
}

.left-col {
  width: 40%;
}

.right-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.text-box {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.score-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* margin: 1rem 0; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn,
.btn-click {
  text-align: center;
  border: 2px solid #000;
  width: 30%;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}

.form_input {
  width: 50%;
}

table tr:nth-child(even) {
  background-color: #e5e5e5;
}

.table {
  font-size: large;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
  margin-top: 1rem;
}

/* Footer starts Here */
footer {
  position: relative;
  margin-top: 13rem;
  bottom: 1px;
  width: 90%;
}
